<body class="form">
<legend class="form">Add New Inventory </legend>

<%= form_tag "/inventories/#{@inventory.id}", method: :patch do %>

  <div>name:<input type="text" class="form-control" name="name" value=<%=@inventory.name%>></div>
  <div> Description:<input type="text" class="form-control" name="description" value=<%=@inventory.description%>></div>
  <div>start:<input type="date" class="form-control" name="start" value=<%=@inventory.start%>></div>
  <div>finish:<input type="date" class="form-control" name="finish" value=<%=@inventory.finish%>></div>
  <input class="fill" type="submit" value="Update" ></input>
<% end %>
