<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body >
<div class="home">
<div class="border row">
  <div class="border col-sm-6">
   <h1 style="color:#F4F6F7;" class="g-font-size-35--xs g-font-size-45--sm g-font-size-55--md g-color--white">A Web Application<br>That Manages <br> Your Inventories</h1> <br>

   <h2  style="color:#F4F6F7;" class="g-font-size-35--xs g-font-size-45--sm g-font-size-55--md g-color--white">We Help You Know When<br>To Go For Shopping<br></h2>
<br>
<br>
   <div>
    <% if current_user %>
    
    <li><button class = "btn btn-notice"><%= link_to "Logout", "/logout", method: :delete %></button></li>
    <% else %><br>
    <li><button class = "btn btn-notice"> <%= link_to "Sign Up", "/signup" %></button></li><br>

</div>
<div> 
  <li><button class = "btn btn-notice"> <%= link_to "Login", "/login" %></button></li>
  <% end -%>
</div>

   </div>
  <div class="border col-sm-6"><%= image_tag ("option.png"), :class => "obed" %> </div>
</div>


<br>
<br>
<br>
<br>
<br>
<br>
<div class="border row">
  <div class="border col-sm-6"><%= image_tag ("merged.png"), :class => "obed" %> </div>
  <div class="border col-sm-6">
     <h3>CULTURE</h3> 
     <h1>About Event</h1>
     <p>We aim high at being focused on building relationships with our clients and community.</p> 
     <p> Using our creative gifts drives this foundation.</p>


  </div>
</div>
<br>
<br>
<br>


<div class="border row">
  <div class="border col-sm-6">
     <h3>CULTURE</h3> 
     <h1>About Event</h1> 
     <p> We aim high at being focused on building relationships with our clients and community. Using our creative gifts drives this foundation </p>
     
  </div>
  <div class="border col-sm-6"><%= image_tag ("merged.png"), :class => "obed" %> </div>
</div>
</body>